/* .cpu, .motherboard {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  } */


  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }


img {
    max-width: 100%;
    height: auto;
  }
  
  /* Style for buttons */
  button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #555;
  }
  

      /* Responsive media query */
      @media screen and (min-width: 768px) and (max-width: 1024px) { 
    
        .nav_item {
          margin-bottom: 10px;
        }
    
        main{
          flex-direction: column;
        }
    
        .gallery {
          flex-direction: column;
        }
    }
    
    /* Responsive design for larger screens */
    @media screen and (min-width: 1025px) {
  
      .nav_item {
          margin-bottom: 10px;
      }
    
      main{
          flex-direction: column;
        }
    
        .gallery {
          flex-direction: column;
        }
    }